* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Sawarabi Mincho', serif;
}

.header {
    width: 100%;
    height: 30px;
    padding: 4px 0px;
    color: white;
    background-color: #7e072bd7;
    text-align: center;
}

/*** This is the Nav Bar ***/

nav {
    width: 100%;
    height: 100px;
    background-color: #C8B2A5;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo-area {
    width: 200px;
    height: 100px;
    float: left;
    padding: 10px;
    text-align: center;
}

.logo-area a:hover img {
    width: 125px;
    height: 75px;
    padding: 4px;
    border: 3px solid black;
}

nav ul {
    list-style-type: none;
    text-align: center;
    float: right;
    margin: 0;
}

nav ul a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 38px;
    display: inline-block;
}

nav ul a:hover {
    padding: 4px;
    border: 3px solid black;
    margin: 31px;
}

/*** This is the Hero Section ***/

.hero-section {
    width: 100%;
    height: 500px;
    background-image: url(../images/cafe-tables.jpg);
    background-repeat: no repeat;
    background-position: 0% 35%;
    /* this is which part of the image you want to display */
    background-size: cover;
    /* "cover" covers the whole area of the section. Contain will display the entire image in the section */
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 30px;
    margin: 0;
}

button {
    background-color: whitesmoke;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 12px;
}

button a {
    text-decoration: none;
}

/*** This is the Feature Section ***/

.article-section h2 {
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 45px;
}

.feature {
    width: 100%;
    height: 700px;
    background-color: rgb(249, 233, 215);
}

.feature a img {
    display: inline-block;
    margin: 20px 40px;
    float: left;
    border-radius: 20px;
}
 
.image1 {
    margin-left: 190px;
    float: left;
    clear: right;
}

.titles {
    float: left;
}

.titles ul li {
    display: inline-block;
    font-size: 30px;
    padding: 10px;
}

#title1 {
    padding-left: 280px;
}

#title2 {
    padding-left: 210px;
}

#title3 {
    padding-left: 172px;
}

/*** This is the Footer ***/

footer {
    width: 100%;
    height: 100px;
    background-color: #C8B2A5;
    color: black;
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 40px 15px;
}

footer ul li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

footer ul li a:hover {
    padding: 4px;
    border: 3px solid black;
    margin: 33px -7px;
}



